<!-- FONTES DO TAMANAHO 1920 X 450  -->
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/all.css">
<link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<title>VAPO Gaming</title>
</head>
<body>
    <div class="topnav bg-black">
        <div class="container-lg">
            <a class="noHover" href="../views/Pagina Inicial.html" >
                <i class="fas fa-dice-d20 fa-lg" width="30" height="50"></i> VAPO Gaming</a>
                <a href="../views/GerenciarProd.html">Gerenciar Produtos</a>
            <a class="login_nav" href="../views/Login.html"><i class="fas fa-user-friends"></i> Administrador</a>
        </div>
    </div>
</div><br>
<h2>Cadastro Produto</h2>
&nbsp
<div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel">
            <div class="cadastro-parent">
                
                <div class="cadastro">
                  <div class="cadastro-title">
                  </div>
                  <form>
                    <div class="form-row">
                      <div class="col">
                        <label for="inputName">Nome Produto</label>
                        <input type="name" class="form-control" placeholder="Ex: Xbox One S 1Tb + 2 Controles" required>
                      </div>
                      <div class="col">
                        <label for="inputCPF">Classificação</label>
                        <input type="classification" class="form-control" placeholder="Indicado para maiores de 18 anos" required>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <label for="inputNascimento">Lançamento </label>
                        <input type="date" class="form-control" required>
                      </div>
                        <div class="cadastro-dados" >
                        <label for="inputEstado">Plataforma</label>
                        <select id="inputEstado" class="form-control" required>
                          <option value="">Selecione</option>
                          <option value="AC">Playstation</option>
                          <option value="AL">Xbox</option>
                          <option value="AP">Nintendo Switch</option>
                          <option value="AP">Computador / PC</option>
                        </select>
                        </div>
                        &nbsp
                        <div class="cadastro-dados" style="float: right;">
                            <label for="inputCEP">Quantidade</label>
                            <input type="quantity" class="form-control" id="inputCEP" placeholder="Insira a Quantidade" required>
                        </div>
                        &nbsp
                        <div class="cadastro-dados" style="float: right;">
                            <label for="inputCEP">Preço</label>
                            <input type="price" class="form-control" id="inputCEP" placeholder="R$20,00" required>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Genero</label>
                        <input type="gender" class="form-control" id="inputEmail4" placeholder="Aventura/Terror" required>
                      </div>
                      <div class="cadastro-dados" >
                        <label for="inputEstado">Idioma</label>
                        <select id="inputEstado" class="form-control" required>
                          <option value="">Selecione</option>
                          <option value="AC">Português</option>
                          <option value="AL">Inglês</option>
                          <option value="AP">Japonês</option>
                        </select>
                    </div>
                    
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea2">Descrição do Produto</label>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Ex: O Xbox One reúne os melhores jogos exclusivos, o modo multijogador mais avançado e uma experiência de entretenimento que você não encontrará em nenhum outro lugar. O bundle de Xbox One Elite vem com o esperado controle Elite, e possui memória híbrida." required></textarea>
                    </div>
                    <div class="wrapper">
                        <div class="col">
                          <div class="js--image-preview"></div>
                          <div class="upload-options">
                            <label>
                              <input type="file" class="image-upload" accept="image/*" />
                            </label>
                          </div>
                        </div>
                      
                        <div class="col">
                          <div class="js--image-preview"></div>
                          <div class="upload-options">
                            <label>
                              <input type="file" class="image-upload" accept="image/*" />
                            </label>
                          </div>
                        </div>
                      
                        <div class="col">
                          <div class="js--image-preview"></div>
                          <div class="upload-options">
                            <label>
                              <input type="file" class="image-upload" accept="image/*" />
                            </label>
                          </div>
                        </div>
                      </div>
                      <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
                      <script >function initImageUpload(box) {
                        let uploadField = box.querySelector('.image-upload');
                      
                        uploadField.addEventListener('change', getFile);
                      
                        function getFile(e){
                          let file = e.currentTarget.files[0];
                          checkType(file);
                        }
                        
                        function previewImage(file){
                          let thumb = box.querySelector('.js--image-preview'),
                              reader = new FileReader();
                      
                          reader.onload = function() {
                            thumb.style.backgroundImage = 'url(' + reader.result + ')';
                          }
                          reader.readAsDataURL(file);
                          thumb.className += ' js--no-default';
                        }
                      
                        function checkType(file){
                          let imageType = /image.*/;
                          if (!file.type.match(imageType)) {
                            throw 'Datei ist kein Bild';
                          } else if (!file){
                            throw 'Kein Bild gewählt';
                          } else {
                            previewImage(file);
                          }
                        }
                        
                      }
                      
                      // initialize box-scope
                      var boxes = document.querySelectorAll('.box');
                      
                      for(let i = 0; i < boxes.length; i++) {if (window.CP.shouldStopExecution(1)){break;}
                        let box = boxes[i];
                        initDropEffect(box);
                        initImageUpload(box);
                      }
                      window.CP.exitedLoop(1);
                      /// drop-effect
                      function initDropEffect(box){
                        let area, drop, areaWidth, areaHeight, maxDistance, dropWidth, dropHeight, x, y;
                        // get clickable area for drop effect
                        area = box.querySelector('.js--image-preview');
                        area.addEventListener('click', fireRipple);
                        
                        function fireRipple(e){
                          area = e.currentTarget
                          // create drop
                          if(!drop){
                            drop = document.createElement('span');
                            drop.className = 'drop';
                            this.appendChild(drop);
                          }
                          // reset animate class
                          drop.className = 'drop';
                          
                          // calculate dimensions of area (longest side)
                          areaWidth = getComputedStyle(this, null).getPropertyValue("width");
                          areaHeight = getComputedStyle(this, null).getPropertyValue("height");
                          maxDistance = Math.max(parseInt(areaWidth, 10), parseInt(areaHeight, 10));
                      
                          // set drop dimensions to fill area
                          drop.style.width = maxDistance + 'px';
                          drop.style.height = maxDistance + 'px';
                          
                          // calculate dimensions of drop
                          dropWidth = getComputedStyle(this, null).getPropertyValue("width");
                          dropHeight = getComputedStyle(this, null).getPropertyValue("height");
                          
                          // calculate relative coordinates of click
                          // logic: click coordinates relative to page - parent's position relative to page - half of self height/width to make it controllable from the center
                          x = e.pageX - this.offsetLeft - (parseInt(dropWidth, 10)/2);
                          y = e.pageY - this.offsetTop - (parseInt(dropHeight, 10)/2) - 30;
                          
                          // position drop and animate
                          drop.style.top = y + 'px';
                          drop.style.left = x + 'px';
                          drop.className += ' animate';
                          e.stopPropagation();
                          }
                      }
                      </script>
                      &nbsp
                    <div class="container-login100-form-btn" >
						<button class="login100-form-btn" style="background: #ffc000;">
                            Registrar
                        </button>
                        <button class="login100-form-btn" style="background: #ff5100; margin-left: 100px;">
                            Cancelar
                        </button>
                  </form> 
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>      
</body>
</html>
